body {
    background: #000000;
    margin: 0;
    height: 100dvh;
        display: grid;
        place-content: center center;
        text-align: center;

        
}

.spinner{
    background:#f5dad8;
    border-radius:50% ;
    overflow: hidden;
    width: 300px;
    aspect-ratio: 1;
    animation:rotate 6s linear infinite ;
    padding: 0px;

    img{
        display: block;
        width: 110%;
        animation: bounce .2s linear infinite alternate;

    }

}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

@keyframes bounce{
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(0%);
    }
}

